@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Laila:wght@500&family=League+Spartan&family=Merriweather:ital@1&family=Oleo+Script&family=Plus+Jakarta+Sans:wght@300&family=Spectral:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background: url('../static/space.jpeg');
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 75%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #ffda0a;
    color: #000;
    
  }
  tr{
    color: #fff;
  }

  button {
    background-color: #ffdb1f;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    transition: all .5s ease-in-out;

}
button:hover {
  color: #333;
  background: #fdd017;
  transform: scale(1.4);
}

button:focus {
  outline: none;
}
.title{
    color: #fff;
    font-weight: bolder;
    font-size: 60px;
}