@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Laila:wght@500&family=League+Spartan&family=Merriweather:ital@1&family=Oleo+Script&family=Plus+Jakarta+Sans:wght@300&family=Spectral:ital,wght@1,300&display=swap');
* {
    box-sizing: border-box;
}


/* quiz-page */

body {
    background: url('../static/space.jpeg');
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 2%;
    box-shadow: 0 0 10px 2px rgba(239, 236, 236, 0.785);
    width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
}

ul li:hover {
    transform: scale(1.05);
}

button {
    background-color: #ffdb1f;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
    transition: all .5s ease-in-out;
}

button:hover {
    color: #333;
    background: #fdd017;
    transform: scale(1.4);
}

button:focus {
    outline: none;
}


/* .element-animation1 {
    animation: animationFrames ease .8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.element-animation2 {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.element-animation3 {
    animation: animationFrames ease 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.element-animation4 {
    animation: animationFrames ease 1.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0px)
    }
    60% {
        opacity: 1;
        transform: translate(30px, 0px)
    }
    80% {
        transform: translate(-10px, 0px)
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px)
    }
} */





/* landing-page */

a {
    color: #eb5d1e;
    text-decoration: none;
}

a:hover {
    color: #ef7f4d;
    text-decoration: none;
}

.font-primary {
    font-family: "Raleway", sans-serif;
}

#hero {
    width: 100%;
    height: 70vh;
    padding: 350px 100px;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
}

#hero h2 {
    color: #f4efec;
    margin: 15px 0 0 0;
    font-size: 24px;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.landingButton {
    margin-top: 20px;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    ;
    border-radius: 5px;
    background-size: 400%;
    position: relative;
}