<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container-animation quiz-container" id="quiz">
        <div class="quiz-header">
            <h2 id="question">Question Text</h2>
            <ul>

                <li>
                    <input type="radio" name="answer" id="a" class="answer">
                    <label class='element1' for="a" id="a_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="b" class="answer">
                    <label class="element2" for="b" id="b_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="c" class="answer">
                    <label class="element3" for="c" id="c_text">Answer</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="d" class="answer">
                    <label class="element4" for="d" id="d_text">Answer</label>
                </li>

            </ul>
        </div>

        <button id="submit">Next</button>
    </div>

    <script type="module" src="../static/script.js"></script>
</body>


</html>